* {
    margin: 0;
    padding: 0;
}

html {
    font-size: .8px;
}

body {
    background-color: #8dc63f;
    font-family: Arial;
}

body {
    cursor: url('../img/cursor2.cur'), auto;
}

body a {
    cursor: url('../img/cursor.cur'), auto;
}

.wrapper {
    background-color: #fff;
    padding: 0 15rem;
    max-width: 1000rem;
    margin: 0 auto;
}

header {
    padding: 25rem 0;
    flex-wrap: wrap;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

main {
    padding: 25rem 0 29rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 24rem;
    color: #39930d;
    padding-bottom: 17rem;
}

.main_img img {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: 75%;
}

.logo {
    gap: 20rem;
}

.logo p,
.contacts a {
    font-size: 22rem;
    color: #39930d;
}

.logo b {
    display: block;
    padding: 3 0;
    font-size: 44rem;
}

.logo i,
.contacts i {
    font-size: 14rem;
    color: #5a5a5a;
}

.contacts i {
    display: flex;
    justify-content: flex-start;
}

.main_conteiner {
    flex-wrap: wrap-reverse;
}

.main-text {
    flex-wrap: wrap;
}

.menu{
    width: 100%;
}

.main-text p {
    margin-bottom: 18rem;
    font-size: 14rem;
    line-height: 1.5em;
    color: #343434;
}

.menu p {
    min-width: 300rem;
    padding: 11rem 19rem;
    font-size: 18rem;
    color: #fff;
    background-color: #39930d;
}

.menu ul {
    padding: 20rem;
}

.menu a {
    font-size: 14rem;
    line-height: 2.1em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #39930d;
}

.footer {
    margin: 0 -15rem;
    padding: 14rem 15rem;
    font-size: 14rem;
    color: #fff;
    background-color: #39930d;
}

@media screen and (min-width: 476px) {
    .contacts i{
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: .9px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 1px;
    }

    .main_conteiner {
        flex-wrap: nowrap;
    }

    .main-text {
        min-width: 599rem;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 1.1px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 1.5px;
    }
}

@media screen and (min-width: 2200px) {
    html {
        font-size: 1.7px;
    }
}